*{
    padding: 0;
    margin: 0;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #080808;
}
h1 {
    position: relative;
    font-size: 40px;
    width: fit-content;
    margin: 0 auto;
    padding: 8px 24px;
    color: #f7f7f7;
    font-family: sans-serif;
}
h1::before {
    content: "";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: #0088cc;
    z-index: -1;
    transition: transform .3s ease;
    transform: scaleX(0);
    transform-origin: bottom right;
}
h1:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}