@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
*{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    background: #080808;
    justify-content: center;
    align-items: center;
    font-family: "Lato";
}
.cp-btn{
    all: unset;
    position: relative;
    background: #080808;
    padding: 1em 1.5em;
    color: #f7f7f7;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    word-spacing: 4px;
    text-transform: uppercase;
    z-index: 1;
}
.cp-btn:before{
    content: "";
    position: absolute;
    animation: rainbow-border 1.5s linear infinite;
    border-radius: 4px;
    background: linear-gradient(
        70deg,
        #0ebeff,
        #ffdd40,
        #ae63e4,
        #47cf73,
        #0ebeff,
        #ffdd40,
        #ae63e4,
        #47cf73);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: 200% 200%;
    bottom: 0;
}
.cp-btn:after{
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    z-index: -1;
    border-radius: 3px;
    margin: 3px;
    background: inherit;
}
.cp-btn-2{
    all: unset;
    position: relative;
    background: #1e1e1e;
    padding: 1em 1.5em;
    background: linear-gradient(
        70deg,
        #0ebeff,
        #ffdd40,
        #ae63e4,
        #47cf73,
        #0ebeff,
        #ffdd40,
        #ae63e4,
        #47cf73);
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    word-spacing: 4px;
    text-transform: uppercase;
    animation: rainbow-border 1.5s linear infinite;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200% 200%;
}
@keyframes rainbow-border{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 200% 50%;
    }
}