*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #080808;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}
.container a{
    border: 4px solid #f7f7f7;
    text-decoration: none;
    color: #f7f7f7;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transition-duration: 0.2s;
    transition: transform 0.4s;
    -webkit-transition: transform 0.4s;
    -moz-transition: transform 0.4s;
    -ms-transition: transform 0.4s;
    -o-transition: transform 0.4s;
    margin: 10px;
}
.container i.fa{
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #080808;
    transform: rotate(-45deg) scale(1.15);
    -webkit-transform: rotate(-45deg) scale(1.15);
    -moz-transform: rotate(-45deg) scale(1.15);
    -ms-transform: rotate(-45deg) scale(1.15);
    -o-transform: rotate(-45deg) scale(1.15);
    transition-duration: 0.2s;
    transition: transform 0.4s;
    -webkit-transition: transform 0.4s;
    -moz-transition: transform 0.4s;
    -ms-transition: transform 0.4s;
    -o-transition: transform 0.4s;
}
.container a:hover{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    color: var(--ahmed);
    border: 4px solid var(--ahmed);
}
.container a:hover i.fa{
    transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -o-transform: rotate(45deg) scale(1.3);
}