*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    position: relative;
    font-family: sans-serif;
}
.looping{
    max-width: 100%;
    overflow-x: hidden;
}
.img-container{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    aspect-ratio: 18 / 1;
}
@media screen and (max-width: 600px) {
    .img-container{
        width: 300%;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        animation: loop 16s linear infinite;
        -webkit-animation: loop 16s linear infinite;
    }
}
@keyframes loop {
    0%{
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }
    100%{
        transform: translateX(50%);
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
    }
}